<div class="ui container">
  <div class="ui segment vertical">
    <div class="ui three column stackable grid">
      <div class="column">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      </div>
      <div class="column">
        <h2>Example body text</h2>
        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p>
          <small>This line of text is meant to be treated as fine print.</small>
        </p>
        <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
        <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
      </div>
      <div class="column">
        <div class="ui three column stackable padded middle aligned centered color grid">
          <div class="red column">Red</div>
          <div class="orange column">Orange</div>
          <div class="yellow column">Yellow</div>
          <div class="olive column">Olive</div>
          <div class="green column">Green</div>
          <div class="teal column">Teal</div>
          <div class="blue column">Blue</div>
          <div class="violet column">Violet</div>
          <div class="purple column">Purple</div>
          <div class="pink column">Pink</div>
          <div class="brown column">Brown</div>
          <div class="grey column">Grey</div>
          <div class="black column">Black</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment vertical">
    <div class="ui menu">
      <div class="header item">Brand</div>
      <a class="active item">Link</a>
      <a class="item">Link</a>
      <div class="ui dropdown item" tabindex="0">
        Dropdown
        <i class="dropdown icon"></i>
        <div class="menu" tabindex="-1">
          <div class="item">Action</div>
          <div class="item">Another Action</div>
          <div class="item">Something else here</div>
          <div class="divider"></div>
          <div class="item">Separated Link</div>
          <div class="divider"></div>
          <div class="item">One more separated link</div>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
            <button class="ui button">Submit</button>
          </div>
        </div>
        <a class="item">Link</a>
      </div>
    </div>
    <div class="ui inverted menu">
      <div class="header item">Brand</div>
      <div class="active item">Link</div>
      <a class="item">Link</a>
      <div class="ui dropdown item" tabindex="0">
        Dropdown
        <i class="dropdown icon"></i>
        <div class="menu" tabindex="-1">
          <div class="item">Action</div>
          <div class="item">Another Action</div>
          <div class="item">Something else here</div>
          <div class="divider"></div>
          <div class="item">Separated Link</div>
          <div class="divider"></div>
          <div class="item">One more separated link</div>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui transparent inverted icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
          </div>
        </div>
        <a class="item">Link</a>
      </div>
    </div>
    <div class="ui secondary menu">
      <div class="active item">Link</div>
      <a class="item">Link</a>
      <div class="ui dropdown item" tabindex="0">
        Dropdown
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
          <div class="item">Action</div>
          <div class="item">Another Action</div>
          <div class="item">Something else here</div>
          <div class="divider"></div>
          <div class="item">Separated Link</div>
          <div class="divider"></div>
          <div class="item">One more separated link</div>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
            <button class="ui button">Submit</button>
          </div>
        </div>
        <div class="ui dropdown item" tabindex="0">
          Dropdown Left<i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <a class="item">Link</a>
            <a class="item">Link</a>
            <div class="divider"></div>
            <div class="header">Header</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item">Link</a>
                <div class="item">
                  <i class="dropdown icon"></i>
                  Sub Sub Menu
                  <div class="menu">
                    <a class="item">Link</a>
                    <a class="item">Link</a>
                  </div>
                </div>
                <a class="item">Link</a>
              </div>
            </div>
            <a class="item">Link</a>
          </div>
        </div>
        <a class="item">Link</a>
      </div>
    </div>
    <div class="ui three column doubling grid">
      <div class="column">
        <div class="ui secondary pointing menu">
          <div class="active item">Link</div>
          <a class="item">Link</a>
          <a class="item">Link</a>
        </div>
      </div>

      <div class="column">
        <div class="ui tabular menu">
          <div class="active item">Link</div>
          <a class="item">Link</a>
          <a class="item">Link</a>
        </div>
      </div>

      <div class="column">
        <div class="ui pointing menu">
          <div class="active item">Link</div>
          <a class="item">Link</a>
          <div class="right item">
            Right Text
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment vertical">
    <div class="ui stackable equal width grid">
      <div class="column">
        <button class="ui button">Default</button>
        <button class="ui primary button">Primary</button>
        <button class="ui secondary button">Secondary</button>
        <button class="ui basic button">Basic</button>
        <button class="ui compact button">
          Compact
        </button>

        <div class="ui divider"></div>
        <button class="ui icon button">
          <i class="heart icon"></i>
        </button>
        <button class="ui labeled icon button">
          <i class="heart icon"></i>
          Labeled
        </button>
        <button class="ui right labeled icon button">
          <i class="heart icon"></i>
          Labeled
        </button>

        <div class="ui divider"></div>

        <div class="ui buttons">
          <button class="ui button">Combo</button>
          <div class="ui floating dropdown icon button" tabindex="0">
            <i class="dropdown icon"></i>
            <div class="menu" tabindex="-1">
              <div class="item">Choice 1</div>
              <div class="item">Choice 2</div>
              <div class="item">Choice 3</div>
            </div>
          </div>
        </div>

        <div class="ui floating search dropdown button">
          <input class="search" autocomplete="off" tabindex="0"><span class="text">Search Dropdown</span>
          <div class="menu" tabindex="-1">
            <div class="item">Arabic</div>
            <div class="item">Chinese</div>
            <div class="item">Danish</div>
            <div class="item">Dutch</div>
            <div class="item">English</div>
            <div class="item">French</div>
            <div class="item">German</div>
            <div class="item">Greek</div>
            <div class="item">Hungarian</div>
            <div class="item">Italian</div>
            <div class="item">Japanese</div>
            <div class="item">Korean</div>
            <div class="item">Lithuanian</div>
            <div class="item">Persian</div>
            <div class="item">Polish</div>
            <div class="item">Portuguese</div>
            <div class="item">Russian</div>
            <div class="item">Spanish</div>
            <div class="item">Swedish</div>
            <div class="item">Turkish</div>
            <div class="item">Vietnamese</div>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui animated button" tabindex="0">
          <div class="visible content">Horizontal</div>
          <div class="hidden content">
            Hidden
          </div>
        </div>
        <div class="ui vertical animated button" tabindex="0">
          <div class="visible content">Vertical</div>
          <div class="hidden content">
            Hidden
          </div>
        </div>
        <div class="ui animated fade button" tabindex="0">
          <div class="visible content">Fade In</div>
          <div class="hidden content">
            Hidden
          </div>
        </div>

        <div class="ui divider"></div>
        <button class="ui disabled button">Disabled</button>
        <button class="ui loading button">Loading</button>

        <div class="ui divider"></div>

        <div class="ui buttons">
          <button class="ui button">1</button>
          <button class="ui button">2</button>
          <button class="ui button">3</button>
        </div>

        <div class="ui icon buttons">
          <button class="ui button"><i class="align left icon"></i></button>
          <button class="ui button"><i class="align center icon"></i></button>
          <button class="ui button"><i class="align right icon"></i></button>
          <button class="ui button"><i class="align justify icon"></i></button>
        </div>

        <div class="ui buttons">
          <button class="ui button">1</button>
          <div class="or"></div>
          <button class="ui button">2</button>
        </div>

        <div class="ui divider"></div>

        <div class="ui two top attached buttons">
          <div class="ui button">One</div>
          <div class="ui button">Two</div>
        </div>
        <div class="ui attached segment">
        </div>
        <div class="ui two bottom attached buttons">
          <div class="ui button">One</div>
          <div class="ui button">Two</div>
        </div>

      </div>
      <div class="column">
        <button class="ui mini button">Mini</button>
        <button class="ui tiny button">Tiny</button>
        <button class="ui small button">Small</button>
        <button class="ui large button">Large</button>
        <button class="ui big button">Big</button>
        <button class="ui huge button">Huge</button>
        <button class="ui massive button">Massive</button>
        <div class="ui divider"></div>
        <div class="spaced">
          <button class="yellow ui button">Yellow</button>
          <button class="orange ui button">Orange</button>
          <button class="green ui button">Green</button>
          <button class="teal ui button">Teal</button>
          <button class="blue ui button">Blue</button>
          <button class="purple ui button">Purple</button>
          <button class="pink ui button">Pink</button>
          <button class="red ui button">Red</button>
          <button class="black ui button">Black</button>
        </div>


        <div class="ui divider"></div>

        <div class="ui inverted segment">
          <button class="ui inverted button">Inverted</button>
          <button class="ui inverted basic button">Basic</button>
          <button class="ui inverted blue button">Colored</button>
          <button class="ui inverted blue basic button">Basic Colored</button>
        </div>

      </div>
    </div>
  </div>
  <div class="ui segment vertical">

  </div>
</div>